@charset "UTF-8";

h1{ color:gold;
	
}

h2{ color:gold;
	
}
 body {
   background-image: url("/hosp.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment:fixed;
}
  p{  color:white;

}

table {
	color: white;
	border: white;
}

