@charset "UTF-8";


/*  body {background-color: coral;}  */
    
   body {
   background-image: url("/zworld3.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: 1100px 600px;
}
  

 


