@charset "UTF-8";


   

h1 {
    color: white;
}
   body {
   background-image: url("/zworld3.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: 1350px 800px;
}
  
 

a {
	text-indent: 50px;
}


th {
	align: center;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

