@charset "UTF-8";






h1 {
    color: FireBrick;
}
 body {
   background-image: url("/zworld1.jpg");
   background-color: #cccccc;
   background-repeat: no-repeat;
   background-size: 1350px 800px;
